Button {
    -fx-background-color: red;
    -fx-text-fill: white;
}

GridPane {
    -fx-background-color: black;
}

VBox {
    -fx-background-color: #181818;
}

TextField {
    -fx-background-color: #282828;
}

Circle {
    -fx-stroke: black;
}

ListView {
    -fx-background-color: black;
}

AnchorPane {
    -fx-background-color: black;
}

ListView .scroll-bar:vertical{
    -fx-background-color: black;
}

ImageView {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}

.list-view .list-cell{
    -fx-background-color: black;
}

.list-view .list-cell{
    -fx-control-inner-background: black ;
    -fx-control-inner-background-alt: derive(-fx-control-inner-background, 50%);
}

.split-pane *.split-pane-divider {
    -fx-padding: 0 0 0 0;
}



