Button {
    -fx-background-color: red;
    -fx-text-fill: white;
}

Circle {
    -fx-stroke: black;
}

GridPane {
    -fx-background-color: black;
}

AnchorPane {
    -fx-background-color: black;
}

VBox {
    -fx-background-color: #181818;
}

TextField {
    -fx-background-color: #282828;
}

ListView {
    -fx-background-color: black;
}

ListView .scroll-bar:vertical{
    -fx-background-color: black;
}

ListView .list-cell{
    -fx-background-color: black;
    -fx-control-inner-background: black ;
    -fx-control-inner-background-alt: derive(-fx-control-inner-background, 50%);
}

SplitPane *.split-pane-divider {
    -fx-padding: 0 0 0 0;
}